/*
Tutorial Name: Scroll To Top Then Fixed Navigation Effect With JQuery and CSS
https://stanhub.com/scroll-to-top-then-fixed-navigation-effect-with-jquery-and-css-free-download/
Description: Create a sticky navigation bar that remains fixed to the top after scroll
Author: Stan Kostadinov
Author URI: https://stanhub.com
Version: 1.0.0 - 11.01.2014
*/

* {margin: 0; padding: 0;}

a {text-decoration: none;}




/* This class is added on scroll */
.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
}

/* Navigation Settings */
nav {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	background: rgba(255, 255, 255, 0.0);

}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 0.625em;
	text-decoration: none!important;
	font-weight: bold;
}

nav li a.hover {
	color: #fff;

}

nav li a.active {
	color: #fff;
	border-bottom: 2px solid #52d3aa;
}



.alignleft {
	float: left;
	padding-left: 1em;
}

.alignright {
	float: right;
	padding-right: 1em;
}


section {
	min-height: 100vh;
}

/* Screens Settings */
/*screen 1 is the header*/
#screen1 {


background: #DE6262; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DE6262 , #FFB88C); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DE6262 , #FFB88C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }


#screen1 p {
	padding-top: 1em;
	font-size: 1.5em;
}

.p1 {
	padding-top: 3em;
}

.pfont {
	padding-top: 1em;
	font-size: 1em;
}

.icocolor {
	color:white;
}

.headericon {
	padding-top: 4em;
	max-height: 100%;
	max-width: 100%;
	 /*gives space below icon*/
}

#screen2 {
	
background: #6190E8; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #6190E8 , #A7BFE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        


#screen2 p {
	padding-top: 1em;
	font-size: 2em;
	text-align: center;
	color: white;
	font-weight: bold;
}

.p2 {
	font-size: 1em;
	text-align: center;
	color: white;
}

.screen2arrow {
	position: relative;
	text-align: center;
}

#screen3 {
	

background: #649173; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #649173 , #DBD5A4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #649173 , #DBD5A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

#screen3 p {
	padding-top: 1em;
	font-size: 2em;
	text-align: center;
	color: white;
	font-weight: bold;
}

.p3 {
	font-size: 1em;
	text-align: center;
	color: white;
}

.screen3arrow {
	position: relative;
	text-align: center;
}

#screen4 {
	

background: #EFF2EF; /* fallback for old browsers */
        
}

#screen4 p {
	padding-top: 1em;
	font-size: 2em;
	text-align: center;
	color: white;
	font-weight: bold;
}

.p4 {
	font-size: .7em;
	text-align: left;
	color: #30332E;
}

.project-h1 {
	font-size: 1.5em;
	text-align: left;
	color: #ffffff;
	font-weight: bold;
}

.project-h2 {
	font-size: 1em;
	text-align: left;
	color: #30332E;
	font-weight: bold;
}

.project-quote {
	font size: 1em;
	text-align: center;
	color: #30332E;
	font-weight: bold;
	font-style: italic;
}

.screen4arrow {
	position: relative;
	text-align: center;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}

.content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  
}

.text-div {
	font-size: 0.8em;
	padding-top: 1em;
}

/* On Mobiles (screen width <= 767px) */
@media screen and (max-width: 767px) {
  .content-holder {
    flex-direction: column;
  }
  
  .text-div {
    text-align: center;
  }
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {

  	padding-top: 2em;
      width: 100%;
      margin: auto;
  }

.button-wrap {
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  max-width: 100%;
}

.button-wrap-space {
	display: inline-block;
	padding: 3em .5em;
	text-align: center;
	max-width: 100%;
}

a:button {

  text-decoration: none;
  font-size: 1em;
 
}

/* BUTTON 6 */
.btn6, .btn6:link, .btn6:visited {
  padding: 13px 10px;
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-width: 100%;

}
.btn6:hover, .btn6:link:hover, .btn6:visited:hover {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  max-width: 100%;
  display:inline-block;
}

/* BUTTON 6 IN BLACK*/
.btn6-blk, .btn6-blk:link, .btn6-blk:visited {
  padding: 13px 10px;
  display: inline-block;
  border: 1px solid #30332E;
  color: #30332E;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  max-width: 100%;

}
.btn6-blk:hover, .btn6-blk:link:hover, .btn6-blk:visited:hover {
  border: 1px solid #30332E;
  color: #30332E;
  border-radius: 30px;
  max-width: 100%;
  display:inline-block;
}

.foot {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	color: #000;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.footicons {
	text-align: center;
	color: #000;
	letter-spacing: 1em;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.project {
	transition: 0.3s;
}

.project-container {
	padding: 2px 16px;
	top: 0px;
   	margin:0px;     
   	border-width: 1px;
   	border-bottom: 1px white solid;
   	width: 100%;
}

.project-spacer {
	padding-top: 3em;
	padding-bottom: 3em;
}

.project-spacer-medium {
	padding-top: 2em;
	padding-bottom: 2em;
}

.project-spacer-small {
	padding-top:1em;
	padding-bottom: 1em;
}

.icon-responsive {
	height: 150px;
	width: 150px;
}

.img-responsive-about {
	max-width: 70%;
	display: block;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.img-responsive-process {
	max-width: 50%
	padding-top: 1em;
	padding-bottom: 1em;
}

.screenshot-responsive {
	max-width: 100%
}

.project-title-left {
	text-align: left;
}

.project-title-under {
	top: 0px;
   	margin:0px;     
   	border-width: 1px;
   	border-bottom: 1px white solid;
   	width: 100%;
}

.h1 {
	font-size: 3em;
}

.h2 {
	font-size: 2em;
}

.h3 {
	font-size: 1em;
}


.hero-folio{

  background-size:cover;
  position:relative;
  min-height:100vh;
}


.tint-blue-folio {
	background-image: linear-gradient(to left, rgba(97, 144, 232, 0.7), rgba(167, 191, 232, 0.7)), url(blursketch6.jpg);

}

.tint-blue-report {
	background-image: linear-gradient(to left, rgba(97, 144, 232, 0.7), rgba(167, 191, 232, 0.7)), url(Posterblur.jpg);

}

.tint-blue-chewsr {
	background-image: linear-gradient(to left, rgba(97, 144, 232, 0.7), rgba(167, 191, 232, 0.7)), url(image05.jpg);
}

.tint-blue-tct {
	background-image: linear-gradient(to left, rgba(97, 144, 232, 0.7), rgba(167, 191, 232, 0.7)), url(image56blur.jpg);
}

.tint-blue-sharp {
	background-image: linear-gradient(to left, rgba(97, 144, 232, 0.7), rgba(167, 191, 232, 0.7)), url(shooter.jpg);
}

.tint-green-fashion {
	background-image: linear-gradient(to left, rgba(100, 145, 115, 0.7), rgba(219, 213, 164, 0.7)), url(4.jpg);
}

.tint-green-lifestyle {
	background-image: linear-gradient(to left, rgba(100, 145, 115, 0.7), rgba(219, 213, 164, 0.7)), url(18.jpg);
}

.tint-green-portraits {
	background-image: linear-gradient(to left, rgba(100, 145, 115, 0.7), rgba(219, 213, 164, 0.7)), url(19.jpg);
}

.tint-green-couples {
	background-image: linear-gradient(to left, rgba(100, 145, 115, 0.7), rgba(219, 213, 164, 0.7)), url(1.jpg);
}

.tint-green-events {
	background-image: linear-gradient(to left, rgba(100, 145, 115, 0.7), rgba(219, 213, 164, 0.7)), url(12.jpg);
}

.tint-green-places {
	background-image: linear-gradient(to left, rgba(100, 145, 115, 0.7), rgba(219, 213, 164, 0.7)), url(21.jpg);
}

.tint-green-contact {
	background-image: linear-gradient(to left, rgba(100, 145, 115, 0.7), rgba(219, 213, 164, 0.7)), url(mephoto.jpg);
}

.tint-about {
	background-image:  url(me.jpg);
}

.plus-sign {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	color:  #30332E;
}

.grow { 
	max-width: 100%; 
	transition: all .2s ease-in-out;
	 }
	 
.grow:hover { 
	transform: scale(1.05);
	 }