/*
Tutorial Name: Scroll To Top Then Fixed Navigation Effect With JQuery and CSS
https://stanhub.com/scroll-to-top-then-fixed-navigation-effect-with-jquery-and-css-free-download/
Description: Create a sticky navigation bar that remains fixed to the top after scroll
Author: Stan Kostadinov
Author URI: https://stanhub.com
Version: 1.0.0 - 11.01.2014
*/

* {margin: 0; padding: 0;}

a {text-decoration: none;}


/* This class is added on scroll */
.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: center;
}

/* Navigation Settings */
nav {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	background: rgba(255, 255, 255, 0.0);

}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none!important;
	font-weight: bold;
}

nav li a.hover {
	color: #fff;

}

nav li a.active {
	color: #fff;
	border-bottom: 2px solid #52d3aa;
}

.alignleft {
	float: left;
	padding-left: 1em;
}

.alignright {
	float: right;
	padding-right: 1em;
}


section {
	min-height: 100vh;
}

/* Screens Settings */
/*screen 1 is the header*/
#screen1 {


background: #DE6262; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DE6262 , #FFB88C); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DE6262 , #FFB88C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

#screen1 p {
	padding-top: 1em;
	font-size: 1.5em;
}

.icocolor {
	color:white;
}

.headericon {
	padding-top: 4em;
	 /*gives space below icon*/
}


#screen2 {
	

background: #6190E8; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #6190E8 , #A7BFE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

#screen2 p {
	padding-top: 1em;
	font-size: 2em;
	text-align: center;
	color: white;
	font-weight: bold;
}

.p2 {
	font-size: 1em;
	text-align: center;
	color: white;
}

.screen2arrow {
	position: relative;
	text-align: center;
}



#screen3 {
	

background: #649173; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #649173 , #DBD5A4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #649173 , #DBD5A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

#screen3 p {
	padding-top: 1em;
	font-size: 2em;
	text-align: center;
	color: white;
	font-weight: bold;
}

.p3 {
	font-size: 1em;
	text-align: center;
	color: white;
}

.screen3arrow {
	position: relative;
	text-align: center;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}

.content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  
}

/* On Mobiles (screen width <= 767px) */
@media screen and (max-width: 767px) {
  .content-holder {
    flex-direction: column;
  }
  
  .text-div {
    text-align: center;
  }
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {

  	padding-top: 2em;
      width: 100%;
      margin: auto;
  }

.button-wrap {
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

a:button {

  text-decoration: none;
  font-size: 1em;
 
}

/* BUTTON 6 */
.btn6, .btn6:link, .btn6:visited {
  padding: 13px 10px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.btn6:hover, .btn6:link:hover, .btn6:visited:hover {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
}

.foot {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	color: #000;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.footicons {
	text-align: center;
	color: #000;
	letter-spacing: 1em;
}